<div class="content-wrapper" ng-controller="adminUserCtrl">
    <section class="content-header">
        <h1>
            {{userTitle}}
        </h1>
        <breadcrumb></breadcrumb>
    </section>
    <section class="content">
        <div class="box box-flat animated fadeInRight">
            <div class="box-body" ng-show="isShow">
                <input class="hidden" id="getId" ng-model="user._id">
                <div class="form-details min-w-130 mw-700">
                    <div class="input-group input-pull-5">
                        <label class="input-group-addon required"
                               for="inputShopId"><%=CGlobal.serverLang('店铺ID')%></label>
                        <input type="text" class="form-control" id="inputShopId" ng-model="user.shopId">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-flat" type="button">
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon required"
                               for="inputAdminId"><%=CGlobal.serverLang('用户ID')%></label>
                        <input type="text" class="form-control" id="inputAdminId" ng-model="user.adminId">
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon required" for="inputAdminName"><%=CGlobal.serverLang('用户名_h')%></label>
                        <input type="text" class="form-control" id="inputAdminName" ng-model="user.adminName">
                    </div>
                    <div class="input-group input-pull-5">
                        <label class="input-group-addon required" for="inputAdminType"><%=CGlobal.serverLang('用户类型')%></label>
                        <select class="form-control" id="inputAdminType" ng-model="user.adminType">
                            <option value="NORMAL"><%=CGlobal.serverLang('普通用户')%></option>
                            <option value="3RD"><%=CGlobal.serverLang('接口用户')%></option>
                            <%if(CGlobal.isPermission(adminSession.rights,CGlobal.Rights.createSYSUser.code) && adminSession.shopId === 'SYSTEM'){%>
                            <option value="SYSTEM"><%=CGlobal.serverLang('系统用户')%></option>
                            <%}%>
                        </select>
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon required"
                               for="inputRights"><%=CGlobal.serverLang('权限')%></label>
                        <input type="text" class="form-control" id="inputRights"
                               ng-model="user.rights" disabled>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-flat" type="button">
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon required"
                               for="inputEmail"><%=CGlobal.serverLang('邮箱地址')%></label>
                        <input type="text" class="form-control" id="inputEmail" ng-model="user.email">
                    </div>
                    <div class="input-group input-pull-5">
                        <label class="input-group-addon required"
                               for="inputStatus"><%=CGlobal.serverLang('用户状态')%></label>
                        <select class="form-control" id="inputStatus" ng-model="user.adminStatus">
                            <option ng-value="true"><%=CGlobal.serverLang('激活')%></option>
                            <option ng-value="false"><%=CGlobal.serverLang('未激活')%></option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon required" for="inputSupplierCode"><%=CGlobal.serverLang('集团代码')%></label>
                        <input type="text" class="form-control" id="inputSupplierCode"
                               ng-model="user.supplierCode">
                    </div>
                </div>
                <div class="form-details text-right mw-700">
                    <button type="button" class="btn btn-primary btn-flat" id="save">
                        <%=CGlobal.serverLang('保存')%>
                    </button>
                    <button type="button" class="btn btn-default btn-flat" id="saveAndClose">
                        <%=CGlobal.serverLang('保存&关闭')%>
                    </button>
                    <a href="javascript:void(0)" class="btn btn-default btn-flat" id="close">
                        <%=CGlobal.serverLang('关闭')%>
                    </a>
                </div>
            </div>
            <div class="box-body" ng-show="!isShow">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!--这些错误提示的样式感觉还是不好看,以后再改吧-->
                        <h2 ng-show="errorText">{{errorText}}</h2>
                        <h2 ng-show="!errorText">{{search}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    requirejs.undef('userDetails');
    requirejs.config({
        baseUrl: '/js',
        paths: {
            userDetails: 'super/user/userDetails',
            select2:'super/select2/select2Obj'
        },
        loadContainer: '#ngView',
        deps: ['userDetails']
    });
</script>
