<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-gears fa-spin"></i>
        </div>
        <div class="skin-settings" ng-controller="skinController">
            <div class="title"><%=CGlobal.serverLang('皮肤')%></div>
            <div class="setings-item default-skin">
                <span class="skin-name"><a href="javascript:void(0)" ng-click="changeSkin('skin-default');">Default</a></span>
            </div>
            <div class="setings-item blue-skin">
                <span class="skin-name"><a href="javascript:void(0)" ng-click="changeSkin('skin-blue');">Blue</a></span>
            </div>
            <div class="setings-item green-skin">
                <span class="skin-name"><a href="javascript:void(0)" ng-click="changeSkin('skin-green');">Green</a></span>
            </div>
            <div class="setings-item yellow-skin">
                <span class="skin-name"><a href="javascript:void(0)" ng-click="changeSkin('skin-yellow');">Yellow</a></span>
            </div>
            <div class="setings-item red-skin">
                <span class="skin-name"><a href="javascript:void(0)" ng-click="changeSkin('skin-red');">Red</a></span>
            </div>
            <div class="setings-item purple-skin">
                <span class="skin-name"><a href="javascript:void(0)" ng-click="changeSkin('skin-purple');">Purple</a></span>
            </div>
        </div>
    </div>
</div>
