<div class="content-wrapper" ng-controller="serverLogCtrl">
    <section class="content-header">
        <h1>
            <%=CGlobal.serverLang('服务器日志')%>{{count}}
        </h1>
        <breadcrumb></breadcrumb>
    </section>

    <section class="content">
        <div class="box box-flat animated fadeInRight">
            <div class="box-body">
                <div class="row margin-row">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" ng-model="searchContent"
                               placeholder="<%=CGlobal.serverLang('查询条件')%>">
                    </div>
                </div>
                <div class="row margin-row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="log in logs | filter : searchContent | orderBy : '-name' ">
                        <div class="log-list">
                            <span class="text">{{log.name}}</span>
                            <div class="tools">
                                <i class="fa fa-trash text-danger" title="<%=CGlobal.serverLang('删除')%>"
                                   data-toggle="tooltip" ng-click="deleteLog(log)"></i>
                                <i class="fa fa-eye" title="<%=CGlobal.serverLang('在线预览')%>"
                                   data-toggle="tooltip" ng-click="viewLog(log)"></i>
                                <i class="fa fa-cloud-download" title="<%=CGlobal.serverLang('下载')%>"
                                   data-toggle="tooltip" ng-click="downloadLog(log)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" tabindex="-1" role="dialog" id="logViewModal"
         aria-labelledby="logViewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><%=CGlobal.serverLang('在线预览')%>&nbsp;&nbsp;{{logname}}</h4>
                </div>
                <div class="modal-body">
                    <textarea type="text" class="form-control" style="height: 300px">{{content}}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeView()"><%=CGlobal.serverLang('关闭')%></button>
                </div>
            </div>
        </div>
    </div>
</div>
